<%= form_tag form_route, method: :get, class: 'filter-form' do %>
<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <%= select_tag(:country, options_for_select(@countries.collect{|c| [c]}), include_blank: " - Select a Country - ", class: "form-control") %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <%= select_tag(:year, options_for_select(@years.collect{|y| [y]}), include_blank: " - Select a Year - ", class: "form-control") %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <%= hidden_field_tag :form_type, form_type %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
