<div class="page container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-sm-12">
        <h1>Search JRF</h1>
      </div>
      <%= link_to "Back", root_path, class: "pull-right" %>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <%= render partial: 'search_filters', locals: { form_route: 'jrf-search',form_type: 'jrf' } %>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-sm-8">
      <h1><%= "#{@country} -"if @country %> <%= @year if @year %></h1>
    </div>
  </div>

<% if @empty_state == false %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Number of people received treatment (at least once) for the diseases</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <table class="table">
          <thead>
            <th></th>
            <th>PreSAC</th>
            <th>SAC</th>
            <th>Adults</th>
            <th>Total</th>
          </thead>
          <tbody>
              <tr>
                <td>LF</td>
                <td><%= number_with_delimiter(@summary1['NopOnceLFPreSAC']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceLFSAC']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceLFAdults']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceLFTotal']) if @summary1%></td>
              </tr>
              <tr>
                <td>Oncho</td>
                <td><%= number_with_delimiter(@summary1['NopOnceOnchoPreSAC']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceOnchoSAC']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceOnchoAdults']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceOnchoTotal']) if @summary1%></td>
              </tr>
              <tr>
                <td>STH</td>
                <td><%= number_with_delimiter(@summary1['NopOnceSTHPreSAC']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceSTHSAC']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceSTHAdults']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceSTHTotal']) if @summary1%></td>
              </tr>
              <tr>
                <td>SCH</td>
                <td><%= number_with_delimiter(@summary1['NopOnceSCHPreSAC']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceSCHSAC']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceSCHAdults']) if @summary1%></td>
                <td><%= number_with_delimiter(@summary1['NopOnceSCHTotal']) if @summary1%></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Coverage of PC Interventions of the diseases (%)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <table class="table">
          <thead>
            <th></th>
            <th>Geographical</th>
            <th>National</th>
          </thead>
          <tbody>
              <tr>
                <td>LF</td>
                <td><%= number_to_percentage(@summary1['CovePCLFGeog'], precision: 2) if @summary1 %></td>
                <td><%= number_to_percentage(@summary1['CovePCLFNati'], precision: 2) if @summary1 %></td>
              </tr>
              <tr>
                <td>Oncho</td>
                <td><%= number_to_percentage(@summary1['CovePCOnchoGeog'], precision: 2) if @summary1 %></td>
                <td><%= number_to_percentage(@summary1['CovePCOnchoNati'], precision: 2) if @summary1 %></td>
              </tr>
              <tr>
                <td>STH</td>
                <td><%= number_to_percentage(@summary1['CovePCSTHGeog'], precision: 2) if @summary1 %></td>
                <td><%= number_to_percentage(@summary1['CovePCSTHNati'], precision: 2) if @summary1 %></td>
              </tr>
              <tr>
                <td>SCH</td>
                <td><%= number_to_percentage(@summary1['CovePCSCHGeog'], precision: 2) if @summary1 %></td>
                <td><%= number_to_percentage(@summary1['CovePCSCHNati'], precision: 2) if @summary1 %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Coverage of PC Interventions of the diseases (%)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <table class="table">
          <thead>
            <th></th>
            <th>PreSAC</th>
            <th>SAC</th>
            <th>Adults</th>
            <th>Total</th>
            <th>Coverage (%)</th>
          </thead>
          <tbody>
              <tr>
                <td>MDA 1 (IVM+ALB)</td>
                <td><%= number_with_delimiter(@summary2['NopPCMDA1PreSAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCMDA1SAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NonPCMDA1Adults']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCMDA1Total']) if @summary2 %></td>
                <td><%= number_to_percentage(@summary2['NopPCMDA1Cove'], precision: 2) if @summary2 %></td>
              </tr>
              <tr>
                <td>MDA 2 (DEC+ALB)</td>
                <td><%= number_with_delimiter(@summary2['NopPCMDA2PreSAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCMDA2SAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NonPCMDA2Adults']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCMDA2Total']) if @summary2 %></td>
                <td><%= number_to_percentage(@summary2['NopPCMDA2Cove'], precision: 2) if @summary2 %></td>
              </tr>
              <tr>
                <td>MDA 3 (IVM)</td>
                <td><%= number_with_delimiter(@summary2['NopPCMDA3PreSAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCMDA3SAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NonPCMDA3Adults']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCMDA3Total']) if @summary2 %></td>
                <td><%= number_to_percentage(@summary2['NopPCMDA3Cove'], precision: 2) if @summary2 %></td>
              </tr>
              <tr>
                <td>T1 (PZQ+ALB/MBD)</td>
                <td><%= number_with_delimiter(@summary2['NopPCT1PreSAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCT1SAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCT1Adults']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCT1Total']) if @summary2 %></td>
                <td><%= number_to_percentage(@summary2['NopPCT1Cove'] , precision: 2) if @summary2 %></td>
              </tr>
              <tr>
                <td>T2 (PZQ)</td>
                <td><%= number_with_delimiter(@summary2['NopPCTDA1PreSAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCTDA1SAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCTDA1Adults']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCTDA1Total']) if @summary2 %></td>
                <td><%= number_to_percentage(@summary2['NopPCTDA1Cove'], precision: 2) if @summary2 %></td>
              </tr>
              <tr>
                <td>T3 (ALB/MBD) - round 1</td>
                <td><%= number_with_delimiter(@summary2['NopPCT3R1PreSAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCT3R1SAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCT3R1Adults']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCT3R1Total']) if @summary2 %></td>
                <td><%= number_to_percentage(@summary2['NopPCT3R1Cove'], precision: 2) if @summary2 %></td>
              </tr>
              <tr>
                <td>T3 (ALB/MBD) - round 2</td>
                <td><%= number_with_delimiter(@summary2['NopPCT3R2PreSAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCT3R2SAC']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCT3R2Adults']) if @summary2 %></td>
                <td><%= number_with_delimiter(@summary2['NopPCT3R2Total']) if @summary2 %></td>
                <td><%= number_to_percentage(@summary2['NopPCT3R2Cove'], precision: 2) if @summary2 %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Inventory of PC medicines in the country</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <table class="table">
          <thead>
            <th></th>
            <th>IVM</th>
            <th>DEC</th>
            <th>ALB (LF)</th>
            <th>ALB (STH)</th>
            <th>MBD</th>
            <th>PZQ</th>
          </thead>
          <tbody>
              <tr>
                <td>Available</td>
                <td><%= number_with_delimiter(@available['IVM']) if @available.present? %></td>
                <td><%= number_with_delimiter(@available['DEC']) if @available.present? %></td>
                <td><%= number_with_delimiter(@available['ALBLF']) if @available.present? %></td>
                <td><%= number_with_delimiter(@available['ALBSTH']) if @available.present? %></td>
                <td><%= number_with_delimiter(@available['MBD']) if @available.present? %></td>
                <td><%= number_with_delimiter(@available['PZQ']) if @available.present? %></td>
              </tr>
              <tr>
                <td>Distributed</td>
                <td><%= number_with_delimiter(@distributed['IVM']) if @distributed.present? %></td>
                <td><%= number_with_delimiter(@distributed['DEC']) if @distributed.present? %></td>
                <td><%= number_with_delimiter(@distributed['ALBLF']) if @distributed.present? %></td>
                <td><%= number_with_delimiter(@distributed['ALBSTH']) if @distributed.present? %></td>
                <td><%= number_with_delimiter(@distributed['MBD']) if @distributed.present? %></td>
                <td><%= number_with_delimiter(@distributed['PZQ']) if @distributed.present? %></td>
              </tr>
              <tr>
                <td>Wasted</td>
                <td><%= number_with_delimiter(@wasted['IVM']) if @wasted.present? %></td>
                <td><%= number_with_delimiter(@wasted['DEC']) if @wasted.present? %></td>
                <td><%= number_with_delimiter(@wasted['ALBLF']) if @wasted.present? %></td>
                <td><%= number_with_delimiter(@wasted['ALBSTH']) if @wasted.present? %></td>
                <td><%= number_with_delimiter(@wasted['MBD']) if @wasted.present? %></td>
                <td><%= number_with_delimiter(@wasted['PZQ']) if @wasted.present? %></td>
              </tr>
              <tr>
                <td>Received</td>
                <td><%= number_with_delimiter(@received['IVM']) if @received.present? %></td>
                <td><%= number_with_delimiter(@received['DEC']) if @received.present? %></td>
                <td><%= number_with_delimiter(@received['ALBLF']) if @received.present? %></td>
                <td><%= number_with_delimiter(@received['ALBSTH']) if @received.present? %></td>
                <td><%= number_with_delimiter(@received['MBD']) if @received.present? %></td>
                <td><%= number_with_delimiter(@received['PZQ']) if @received.present? %></td>
              </tr>
              <tr>
                <td>Remaining</td>
                <td><%= number_with_delimiter(@remaining['IVM']) if @remaining.present? %></td>
                <td><%= number_with_delimiter(@remaining['DEC']) if @remaining.present? %></td>
                <td><%= number_with_delimiter(@remaining['ALBLF']) if @remaining.present? %></td>
                <td><%= number_with_delimiter(@remaining['ALBSTH']) if @remaining.present? %></td>
                <td><%= number_with_delimiter(@remaining['MBD']) if @remaining.present? %></td>
                <td><%= number_with_delimiter(@remaining['PZQ']) if @remaining.present? %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <% if @url %>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          Source: <a href="<%= @url %>"> ESPEN Data platform</a>
        </div>
    </div>
    <% end %>
  <% elsif @empty_state == true %>
    <div class="empty" id="zero-results">No matches for your search criteria</div>
  <% end %>
</div>
