<div class="page container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-sm-12">
        <h1>Search JRF</h1>
      </div>
      <%= link_to "Back", root_path, class: "pull-right" %>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <%= render partial: 'search_filters', locals: { form_route: 'jrf-search',form_type: 'jrf' } %>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-sm-8">
      <h1><%= "#{@country} -"if @country %> <%= @year if @year %></h1>
    </div>
  </div>

<% if @empty_state == false %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Number of people received treatment (at least once) for the diseases</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <table class="table">
          <thead>
            <th></th>
            <th>PreSAC</th>
            <th>SAC</th>
            <th>Adults</th>
            <th>Total</th>
          </thead>
          <tbody>
              <tr>
                <td>LF</td>
                <td><%= @summary1['NopOnceLFPreSAC'] if @summary1%></td>
                <td><%= @summary1['NopOnceLFSAC'] if @summary1%></td>
                <td><%= @summary1['NopOnceLFAdults'] if @summary1%></td>
                <td><%= @summary1['NopOnceLFTotal'] if @summary1%></td>
              </tr>
              <tr>
                <td>Oncho</td>
                <td><%= @summary1['NopOnceOnchoPreSAC'] if @summary1%></td>
                <td><%= @summary1['NopOnceOnchoSAC'] if @summary1%></td>
                <td><%= @summary1['NopOnceOnchoAdults'] if @summary1%></td>
                <td><%= @summary1['NopOnceOnchoTotal'] if @summary1%></td>
              </tr>
              <tr>
                <td>STH</td>
                <td><%= @summary1['NopOnceSTHPreSAC'] if @summary1%></td>
                <td><%= @summary1['NopOnceSTHSAC'] if @summary1%></td>
                <td><%= @summary1['NopOnceSTHAdults'] if @summary1%></td>
                <td><%= @summary1['NopOnceSTHTotal'] if @summary1%></td>
              </tr>
              <tr>
                <td>SCH</td>
                <td><%= @summary1['NopOnceSCHPreSAC'] if @summary1%></td>
                <td><%= @summary1['NopOnceSCHSAC'] if @summary1%></td>
                <td><%= @summary1['NopOnceSCHAdults'] if @summary1%></td>
                <td><%= @summary1['NopOnceSCHTotal'] if @summary1%></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Coverage of PC Interventions of the diseases (%)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <table class="table">
          <thead>
            <th></th>
            <th>Geographical</th>
            <th>National</th>
          </thead>
          <tbody>
              <tr>
                <td>LF</td>
                <td><%= @summary1['CovePCLFGeog'] if @summary1 %></td>
                <td><%= @summary1['CovePCLFNati'] if @summary1 %></td>
              </tr>
              <tr>
                <td>Oncho</td>
                <td><%= @summary1['CovePCOnchoGeog'] if @summary1 %></td>
                <td><%= @summary1['CovePCOnchoNati'] if @summary1 %></td>
              </tr>
              <tr>
                <td>STH</td>
                <td><%= @summary1['CovePCSTHGeog'] if @summary1 %></td>
                <td><%= @summary1['CovePCSTHNati'] if @summary1 %></td>
              </tr>
              <tr>
                <td>SCH</td>
                <td><%= @summary1['CovePCSCHGeog'] if @summary1 %></td>
                <td><%= @summary1['CovePCSCHNati'] if @summary1 %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Coverage of PC Interventions of the diseases (%)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <table class="table">
          <thead>
            <th></th>
            <th>PreSAC</th>
            <th>SAC</th>
            <th>Adults</th>
            <th>Total</th>
            <th>Coverage (%)</th>
          </thead>
          <tbody>
              <tr>
                <td>MDA 1 (IVM+ALB)</td>
                <td><%= @summary2['NopPCMDA1PreSAC'] if @summary2 %></td>
                <td><%= @summary2['NopPCMDA1SAC'] if @summary2 %></td>
                <td><%= @summary2['NonPCMDA1Adults'] if @summary2 %></td>
                <td><%= @summary2['NopPCMDA1Total'] if @summary2 %></td>
                <td><%= @summary2['NopPCMDA1Cove'] if @summary2 %></td>
              </tr>
              <tr>
                <td>MDA 2 (DEC+ALB)</td>
                <td><%= @summary2['NopPCMDA2PreSAC'] if @summary2 %></td>
                <td><%= @summary2['NopPCMDA2SAC'] if @summary2 %></td>
                <td><%= @summary2['NonPCMDA2Adults'] if @summary2 %></td>
                <td><%= @summary2['NopPCMDA2Total'] if @summary2 %></td>
                <td><%= @summary2['NopPCMDA2Cove'] if @summary2 %></td>
              </tr>
              <tr>
                <td>MDA 3 (IVM)</td>
                <td><%= @summary2['NopPCMDA3PreSAC'] if @summary2 %></td>
                <td><%= @summary2['NopPCMDA3SAC'] if @summary2 %></td>
                <td><%= @summary2['NonPCMDA3Adults'] if @summary2 %></td>
                <td><%= @summary2['NopPCMDA3Total'] if @summary2 %></td>
                <td><%= @summary2['NopPCMDA3Cove'] if @summary2 %></td>
              </tr>
              <tr>
                <td>T1 (PZQ+ALB/MBD)</td>
                <td><%= @summary2['NopPCT1PreSAC'] if @summary2 %></td>
                <td><%= @summary2['NopPCT1SAC'] if @summary2 %></td>
                <td><%= @summary2['NopPCT1Adults'] if @summary2 %></td>
                <td><%= @summary2['NopPCT1Total'] if @summary2 %></td>
                <td><%= @summary2['NopPCT1Cove'] if @summary2 %></td>
              </tr>
              <tr>
                <td>T2 (PZQ)</td>
                <td><%= @summary2['NopPCTDA1PreSAC'] if @summary2 %></td>
                <td><%= @summary2['NopPCTDA1SAC'] if @summary2 %></td>
                <td><%= @summary2['NopPCTDA1Adults'] if @summary2 %></td>
                <td><%= @summary2['NopPCTDA1Total'] if @summary2 %></td>
                <td><%= @summary2['NopPCTDA1Cove'] if @summary2 %></td>
              </tr>
              <tr>
                <td>T3 (ALB/MBD) - round 1</td>
                <td><%= @summary2['NopPCT3R1PreSAC'] if @summary2 %></td>
                <td><%= @summary2['NopPCT3R1SAC'] if @summary2 %></td>
                <td><%= @summary2['NopPCT3R1Adults'] if @summary2 %></td>
                <td><%= @summary2['NopPCT3R1Total'] if @summary2 %></td>
                <td><%= @summary2['NopPCT3R1Cove'] if @summary2 %></td>
              </tr>
              <tr>
                <td>T3 (ALB/MBD) - round 2</td>
                <td><%= @summary2['NopPCT3R2PreSAC'] if @summary2 %></td>
                <td><%= @summary2['NopPCT3R2SAC'] if @summary2 %></td>
                <td><%= @summary2['NopPCT3R2Adults'] if @summary2 %></td>
                <td><%= @summary2['NopPCT3R2Total'] if @summary2 %></td>
                <td><%= @summary2['NopPCT3R2Cove'] if @summary2 %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Inventory of PC medicines in the country</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <table class="table">
          <thead>
            <th></th>
            <th>IVM</th>
            <th>DEC</th>
            <th>ALB (LF)</th>
            <th>ALB (STH)</th>
            <th>MBD</th>
            <th>PZQ</th>
          </thead>
          <tbody>
              <tr>
                <td>Available</td>
                <td><%= number_format(@summary_inventory['NopPCMDA1PreSAC']) if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA1SAC'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NonPCMDA1Adults'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA1Total'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA1Cove'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA1Cove'] if @summary_inventory.any? %></td>
              </tr>
              <tr>
                <td>Distributed</td>
                <td><%= @summary_inventory['NopPCMDA2PreSAC'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA2SAC'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NonPCMDA2Adults'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA2Total'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA2Cove'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA2Cove'] if @summary_inventory.any? %></td>
              </tr>
              <tr>
                <td>Wasted</td>
                <td><%= @summary_inventory['NopPCMDA3PreSAC'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA3SAC'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NonPCMDA3Adults'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA3Total'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA3Cove'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCMDA3Cove'] if @summary_inventory.any? %></td>
              </tr>
              <tr>
                <td>Received</td>
                <td><%= @summary_inventory['NopPCT1PreSAC'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCT1SAC'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCT1Adults'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCT1Total'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCT1Cove'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCT1Cove'] if @summary_inventory.any? %></td>
              </tr>
              <tr>
                <td>Remaining</td>
                <td><%= @summary_inventory['NopPCT1PreSAC'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCT1SAC'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCT1Adults'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCT1Total'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCT1Cove'] if @summary_inventory.any? %></td>
                <td><%= @summary_inventory['NopPCT1Cove'] if @summary_inventory.any? %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <% if @url %>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          Source: <a href="<%= @url %>"> ESPEN Data platform</a>
        </div>
    </div>
    <% end %>
  <% elsif @empty_state == true %>
    <div class="empty" id="zero-results">No matches for your search criteria</div>
  <% end %>
</div>
